<%= render "./components/navbar" %>
<div class="container">
  <div class="profile-options">

    <%= link_to edit_user_registration_path do %>
      <i class='fas fa-user-edit'></i>
    <% end %>
  </div>

  <%= current_user.first_name %>
  <%= current_user.last_name %>
  <%= current_user.description %>
  <%= current_user.email %>

  <% if current_user.spaces.length > 0 %>
    <h3>You are hosting: </h3>
      <div class="hosting-spaces">
        <% @spaces.each do |space| %>
          <div class="show-space">
            <div class="show-space-content">
              <h5><%= space.name %></h5>
              <p><%= space.price_per_day %> per day | <%= space.address %></p>
              <p><%= space.description %></p>
              <p style="font-size: 10px;">Added on: <%= space.created_at.to_s.slice(0, 10).split('-').reverse.join("-") %></p>
            </div>
            <%= link_to "Edit Space", edit_space_path(current_user) %>
            <%= link_to "Delete Space", space_path(space), :method => 'delete' %>
          </div>
        <% end %>
      </div>
  <% end %>

  <% if current_user.bookings.length > 0 %>
    <h3>Your bookings: </h3>
      <div class="hosting-spaces">
        <% current_user.bookings.each do |booking| %>
          <div class="show-space">
            <div class="show-space-content">
              <h5><%= booking.start_date %> - <%= booking.end_date %></h5>
              <h3>Booking at <%= booking.space.name %></h3>
              <p><%= booking.space.price_per_day %> per day | <%= booking.space.address %></p>
              <p><%= booking.space.description %></p>
              <p style="font-size: 10px;">Booked on: <%= booking.created_at.to_s.slice(0, 10).split('-').reverse.join("-") %></p>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>


</div>
