<%= render "./components/navbar" %>
<div class="container">
  <div class="profile">
    <div class="profile-left">
      <h3><%= current_user.first_name %>'s Profile:</h3>
      <%= link_to edit_user_registration_path do %>
        <i class='fas fa-user-edit edit-icon'></i>
      <% end %>
      <div class="profile-pic">
        <%= cl_image_tag current_user.profile_picture, height: 150, width: 150, crop: :fill %>
      </div>
      <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <p><small></small> <%= current_user.email %></small></p>
      <hr>
      <p><small><%= current_user.description %></small> </p>
    </div>

    <div class="profile-right">
      <% if current_user.spaces.length > 0 %>
        <div class="hosting">
        <h3 style="text-align:center;">You Are Hosting:</h3>
        <hr>
          <div class="hosting-spaces">
            <% @spaces.each do |space| %>
              <div class="show-space">
                <%= cl_image_tag space.photos[1].image_url, height: 100, width: 150, crop: :fill, :class => 'show-image' %>
                <div class="show-space-content">
                  <p>
                    <%= link_to space.name, space_path(space) %>
                    <br>
                    <small>$<%= space.price_per_day %> per day | <%= space.address %></small>
                    <br>
                    <small><%= space.description %></small>
                    <p style="font-size: 10px;">Added on: <%= space.created_at.to_s.slice(0, 10).split('-').reverse.join("-") %></p>
                  </p>
                </div>
                <%= link_to "Edit Space", edit_space_path(current_user), :class => 'profile-buttons' %>
                <%= link_to "Delete Space", space_path(space), :method => 'delete', :class => 'profile-buttons'%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>


      <% if current_user.bookings.length > 0 %>
        <div class="booking">
        <h3 style="text-align:center;">You Have Booked:</h3>
        <hr>
          <div class="booked-spaces">
            <% current_user.bookings.each do |booking| %>
              <div class="show-booked-space">
                <div class="show-booked-space-content">
                  <p>
                    <strong>Booking at <%= booking.space.name %></strong>
                    <br>
                    <%= booking.start_date %> - <%= booking.end_date %>
                    <br>
                    <small>$<%= booking.space.price_per_day %> per day | <%= booking.space.address %></small>
                    <br>
                    <small><%= booking.space.description %></small>
                    <br>
                    <small> Booked on: <%= booking.created_at.to_s.slice(0, 10).split('-').reverse.join("-") %></small>
                  </p>
                </div>
                <%= link_to "Edit booking", edit_space_booking_path(booking.space_id, booking), :class => 'profile-buttons'%>
                <%= link_to "Delete booking", space_booking_path(booking.space_id, booking), method: :delete, :class => 'profile-buttons'%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
