<%= render "./components/navbar" %>
<div class="container">

  <%= @profile.first_name %>
  <%= @profile.last_name %>
  <%= @profile.description %>
  <%= @profile.email %>


  <% if @profile.is_host == true %>
    <h3>Hosting: </h3>
      <div class="hosting-spaces">
        <% @spaces.each do |space| %>
          <div class="show-space">
            <div class="show-space-content">
              <h5><%= space.name %></h5>
              <p><%= space.price_per_day %> per day | <%= space.address %></p>
              <p><%= space.description %></p>
              <p style="font-size: 10px;">Added on: <%= space.created_at.to_s.slice(0, 10).split('-').reverse.join("-") %></p>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>


</div>
