<%= render "./components/navbar" %>
<div class="container">
  <ul>
    <% @spaces.each do |space| %>
      <li>
        <h3><%= link_to space.name, space_path(space) %></h3>
        <h3><%= space.price_per_day %></h3>
        <h4><%= space.address %> | <%= space.phone %> | <%= link_to "Website", "https://#{space.website}/", target: :_blank  %></h4>
        <h5><%= space.description %></h5>
      </li>
    <% end %>
  </ul>

  <%#= link_to "Create new space", new_space_path, :class => "btn btn-primary button" %>
</div>
