<div class="container">
  <div class="profile-options">

    <%= link_to edit_user_path(current_user.id) do %>
      <i class='fas fa-user-edit'></i>
    <% end %>
  </div>


<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.description %>
<%= @user.email %>
<%= @user.is_host %>
</div>
