<%= render "./components/navbar_home" %>
<%= render "./components/banner" %>

<div class="container">
  <% @spaces.each do |space| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1536724609414-5f000e9a2745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');">
        <div class="card-name">
          <h2><%= space.name %></h2>
        </div>
        <div class="card-description">
          <p>$<%= space.price_per_day %> per day | <%= space.address %></p>
        </div>
        <img class="card-user" src="">
        <%= link_to "", space_path(space), :class => "card_link"  %>
      </div>
    </div>
  <% end %>
</div>






