<%= render "./components/navbar_home" %>
<%= render "./components/banner" %>

<div id="home-cards" class="container container-home">
  <h2>Explore our spaces</h2>
  <% counter = 1 %>
  <% @spaces.first(6).each do |space| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path space.photos[1].image_url, height: 300, width: 400, crop: :fill %>')">
        <div class="card-name">
          <h2><%= space.name %></h2>
        </div>
        <div class="card-description">
          <p>$<%= space.price_per_day %> per day | <%= space.address %></p>
        </div>
        <img class="card-user" src="">
        <%= link_to "", space_path(space), :class => "card_link"  %>
      </div>
    </div>
    <% counter += 1 %>
  <% end %>
</div>
<div class="show-more">
  <%= link_to "Show More...", spaces_path, :class => 'show-more-button btn btn-primary' %>
</div>








